.top {
    margin: 0 auto;

    .nav {
        .nav_group {
            .nav_left {
                display: flex;
                margin: 5%;

                .logo {
                    display: flex;
                    width: 25%;
                }

            }

            .nav_right {
                display: flex;
                font-size: 10px;
                margin: -2% 0;
                padding: 10px 0;

                .navbar {
                    display: flex;
                    margin-left: auto;

                    .navbar_type {
                        display: inline-block;
                        padding-left: 6px;

                        #abouttt {
                            background-color: $primary;
                            padding: 0px 5px;
                            border-radius: 5px;
                            display: inline-block;
                        }

                        a {
                            display: inline;

                        }

                        .deco {
                            display: inline;
                            border-right: 3px solid #fff;
                            padding-left: 10px;
                        }
                    }

                    .navbar_type01 {
                        display: flex;

                        &::before {
                            content: "";
                            background: url(../img/Search.svg);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 15px;
                            height: 15px;
                            display: inline-block;
                            margin-left: 5px;
                            margin-right: 2px;
                            margin-top: 5px
                        }

                        #search {
                            background: black;
                            border: 2px solid black;
                            border-radius: 5px;
                            width: 75px;
                            color: #fff;


                        }
                    }

                    .navbar_type02 {
                        display: inline-block;

                        .cart {
                            width: 50%;
                        }
                    }

                }
            }
        }

    }

    .main {
        .banner {
            padding-top: 2%;
            display: flex;
            justify-content: center;

            img {
                display: flex;
                width: 85%;
            }
        }

        .slogan {
            padding-top: 10%;
            display: flex;
            justify-content: center;

            img {
                display: flex;
                width: 80%;
            }
        }

        .swiper {
            padding-top: 10%;
            display: flex;
            justify-content: center;

            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 80%;
            object-fit: cover;
        }
        
        .swiper-button-next, .swiper-button-prev {
            color: #fff;
            
        }



        .brand {
            padding-top: 10%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {
                display: flex;
                justify-content: center;
                color: #fff;
                font-size: 12px;
            }

            .deco_noodle {
                display: flex;
                justify-content: center;
                padding: 0 122px;
                margin-top: -18px;


            }

            .brand_story {
                display: flex;
                justify-content: center;
                padding-top: 10%;
                img {
                    width: 80%;
                }
            }
        }

        .team {
            padding-top: 10%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {
                display: flex;
                justify-content: center;
                color: #fff;
                font-size: 12px;
            }

            .deco_noodle {
                display: flex;
                justify-content: center;
                padding: 0 122px;
                margin-top: -18px;

            }

            .team_partner {
                .partner01, .partner02, .partner03 {
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    padding-top: 10%;
                    .ex01 {
                        border-radius: 50%;
                        width: 20%;
                    }
                    .ex02 {
                        width: 50%;
                    }
                }
                .partner03 {
                    padding-bottom: 10%;
                }
            }
        }

    }
}

.footer {
    background-color: $primary;
    width: 100%;

    .chef_deco {
        display: flex;
        justify-content: center;

        img {
            display: flex;
            width: 50%;
        }
    }

    .contact {
        display: flex;
        justify-content: center;
        margin: 7%;

        li {
            padding: 0 3%;
        }
    }

    p {
        font-size: 8px;
        color: #fff;
        display: flex;
        justify-content: center;
        padding-bottom: 3%;
        text-align: center;
    }
}









@media (min-width:769px) {
    body {
        font-size: 18px;
        max-width: none;

        .top {
            margin: 0 auto;
            padding: 0 6%;

            .nav {
                margin: none;

                .nav_group {
                    .nav_left {
                        .logo {
                            display: flex;
                            width: 80%;
                        }
                    }

                    .nav_right {
                        margin-top: -10%;

                        .navbar {
                            .navbar_type {
                                margin: 0 5px;

                                a {
                                    font-size: 22px;

                                }

                                .deco {
                                    padding-top: 10px;
                                }
                            }

                            .navbar_type01 {
                                padding: 0 2%;

                                &:before {
                                    content: "";
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 5px;
                                }

                                #search {
                                    width: 120px;
                                }
                            }

                            .navbar_type02 {
                                display: flex;

                                .cart {
                                    width: 60%;
                                    padding-top: 5px;
                                }
                            }

                        }
                    }
                }


            }

            .main {
                padding: 0 6%;

                .banner {

                    img {
                        display: flex;
                        width: 100%;

                    }
                }

                .swiper {
                    .swiper-slide img {
                        width: 100%;
                    }
                }

                .brand {
                    h1 {
                        font-size: 28px;
                    }

                    .deco_noodle {
                        margin-top: -55px;
                    }
                }

                .team {
                    h1 {
                        font-size: 28px;
                    }

                    .deco_noodle {
                        margin-top: -55px;
                    }
                }
            }
        }

    }
}