.top {
    margin: 0 auto;
    .nav {
        .nav_left {
            display: flex;
            margin: 5%;

            .logo {
                display: flex;
                width: 25%;
            }

        }

        .nav_right {
            display: flex;
            font-size: 10px;
            margin: -2% 0;
            padding: 10px 0;

            .navbar {
                display: flex;
                margin-left: auto;

                .navbar_type {
                    display: inline-block;
                    padding-left: 6px;

                    a {
                        display: inline;

                    }

                    .deco {
                        display: inline;
                        border-right: 3px solid #fff;
                        height: 22px;
                        padding-left: 10px;
                    }
                }

                .navbar_type01 {
                    display: flex;
                    padding-left: 6px;
                    margin-top: -10px;

                    .search {
                        display: flex;
                        padding-top: 11px;
                        width: 80%;
                    }

                    .text {
                        display: flex;
                        font-size: 8px;
                        color: #ffffff69;
                        margin: 10px 2px;

                    }

                    .cart {
                        display: flex;
                        margin-top: 7px;
                        width: 50%;
                    }
                }

            }
        }
    }

    .main {
        .banner {
            padding-top: 2%;
            display: flex;
            justify-content: center;

            img {
                display: flex;
                width: 85%;
            }
        }

        .slogan {
            padding-top: 10%;
            display: flex;
            justify-content: center;

            img {
                display: flex;
                width: 80%;
            }
        }

        .swiper {
            padding-top: 10%;
            display: flex;
            justify-content: center;

            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }



        .brand {
            padding-top: 10%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {
                display: flex;
                justify-content: center;
                color: #fff;
                font-size: 12px;
            }

            .deco_noodle {
                display: flex;
                justify-content: center;
                padding: 0 122px;
                margin-top: -18px;


            }

            .brand_story {}
        }

        .team {
            padding-top: 10%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {
                display: flex;
                justify-content: center;
                color: #fff;
                font-size: 12px;
            }

            .deco_noodle {
                display: flex;
                justify-content: center;
                padding: 0 122px;
                margin-top: -18px;

            }

            .team_partner {
                .partner01 {}

                .partner02 {}

                .partner03 {}
            }
        }

    }
}

.footer {
    background-color: $primary;
    width: 100%;
   

    .chef_deco {
        display: flex;
        justify-content: center;
       img {
        display: flex;
        width: 50%;
       }
    }

    .contact {}

    p {
        font-size: 8px;
        color: #fff;
        display: flex;
        justify-content: center;
    }
}









@media (min-width:769px) {
    body {
        font-size: 18px;
        max-width: none;

        .top {
            margin: 0 auto;
            padding: 0 6%;

            .nav {
                margin: none;

                .nav_left {
                    .logo {
                        display: flex;
                        width: 100%;
                    }
                }

                .nav_right {
                    .navbar {
                        margin-top: -10%;
                        .navbar_type {
                            margin: 0 5px;
    
                            a {
                                font-size: 22px;
                            }
                        }
    
                        .navbar_type01 {
                           margin-top: -2px;
    
                            .deco {
                                margin: none;
                            }
    
                            .search {
                            
                                padding-top: none;
                            }
                        }
                    }


                }


            }
            .main {
                padding: 0 6%;
                .banner {
                    
                    img {
                        display: flex;
                        width: 100%;
                        
                    }
                }

                .brand {
                    h1 {
                        font-size: 28px;
                    }
                    .deco_noodle {
                        margin-top: -55px;
                    }
                }
                .team {
                    h1 {
                        font-size: 28px;
                    }
                    .deco_noodle {
                        margin-top: -55px;
                    }
                }
            }
        }

        .footer {
            .chef_deco {}

            .contact {}

            p {}
        }

    }
}