body {
    #app {
        padding: 0 15%;
        color: #fff;
        margin: 0 auto;
        text-align: center;
        h1 {
            font-size: 22px;
            margin: 10% 0;
        }
        .item_group {
            .left {}
            .mid {
                .top {}
                .bottom {
                    .item_price {
                        h1 {
                            font-size: 22px;
                        }
                    }
                }
            }
            .right {}
        }

        .recipient {
            .input_group {
                display: flex;
                margin: 6% 0;
                #name, #add {
                    width: 100%;
                    padding: 2%;
                }
                #county, #town {
                    width: 85%;
                    padding: 2%;
                }
            }
        }
        .shipping {}
        .total {}
        span {
            font-size: 12px;
        }
    }   
}