@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Hurricane&family=Shippori+Mincho+B1:wght@400;500;600&display=swap');

body {
    background-color: #151515;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    font-family: 'Hurricane','Shippori Mincho B1','serif';
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
a {
    text-decoration: none;
    color: white;
}