@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Hurricane&family=Shippori+Mincho+B1:wght@400;500;600&display=swap");
body {
  background-color: #151515;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  font-family: "Hurricane", "Shippori Mincho B1", "serif";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate__animated {
  animation-duration: 1s;
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

@media print, (prefers-reduced-motion: reduce) {
  .animate__animated {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
  .animate__animated[class*=Out] {
    opacity: 0;
  }
}
@keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animate__backInLeft {
  animation-name: backInLeft;
}
@keyframes backInRight {
  0% {
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animate__backInRight {
  animation-name: backInRight;
}
@keyframes lightSpeedInLeft {
  from {
    transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
  60% {
    transform: skewX(-20deg);
    opacity: 1;
  }
  80% {
    transform: skewX(5deg);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.animate__lightSpeedInLeft {
  animation-name: lightSpeedInLeft;
  animation-timing-function: ease-out;
}

.top {
  margin: 0 auto;
}
.top .nav .nav_group .nav_left {
  display: flex;
  margin: 5%;
}
.top .nav .nav_group .nav_left .logo {
  display: flex;
  width: 25%;
}
.top .nav .nav_group .nav_right {
  display: flex;
  font-size: 10px;
  margin: -2% 0;
  padding: 10px 0;
}
.top .nav .nav_group .nav_right .navbar {
  display: flex;
  margin-left: auto;
}
.top .nav .nav_group .nav_right .navbar .navbar_type {
  display: inline-block;
  padding-left: 6px;
}
.top .nav .nav_group .nav_right .navbar .navbar_type #abouttt {
  background-color: #208553;
  padding: 0px 5px;
  border-radius: 5px;
  display: inline-block;
}
.top .nav .nav_group .nav_right .navbar .navbar_type a {
  display: inline;
}
.top .nav .nav_group .nav_right .navbar .navbar_type .deco {
  display: inline;
  border-right: 3px solid #fff;
  padding-left: 10px;
}
.top .nav .nav_group .nav_right .navbar .navbar_type01 {
  display: flex;
}
.top .nav .nav_group .nav_right .navbar .navbar_type01::before {
  content: "";
  background: url(../img/Search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 2px;
  margin-top: 5px;
}
.top .nav .nav_group .nav_right .navbar .navbar_type01 #search {
  background: black;
  border: 2px solid black;
  border-radius: 5px;
  width: 75px;
  color: #fff;
}
.top .nav .nav_group .nav_right .navbar .navbar_type02 {
  display: inline-block;
}
.top .nav .nav_group .nav_right .navbar .navbar_type02 .cart {
  width: 50%;
}
.top .main .banner {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}
.top .main .banner img {
  display: flex;
  width: 85%;
}
.top .main .slogan {
  padding-top: 10%;
  display: flex;
  justify-content: center;
}
.top .main .slogan img {
  display: flex;
  width: 80%;
}
.top .main .swiper {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.top .main .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .main .swiper-slide img {
  display: block;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top .main .swiper-button-next, .top .main .swiper-button-prev {
  color: #fff;
}
.top .main .brand {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.top .main .brand h1 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 12px;
}
.top .main .brand .deco_noodle {
  display: flex;
  justify-content: center;
  padding: 0 122px;
  margin-top: -18px;
}
.top .main .brand .brand_story {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}
.top .main .brand .brand_story img {
  width: 80%;
}
.top .main .team {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.top .main .team h1 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 12px;
}
.top .main .team .deco_noodle {
  display: flex;
  justify-content: center;
  padding: 0 122px;
  margin-top: -18px;
}
.top .main .team .team_partner .partner01, .top .main .team .team_partner .partner02, .top .main .team .team_partner .partner03 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 10%;
}
.top .main .team .team_partner .partner01 .ex01, .top .main .team .team_partner .partner02 .ex01, .top .main .team .team_partner .partner03 .ex01 {
  border-radius: 50%;
  width: 20%;
}
.top .main .team .team_partner .partner01 .ex02, .top .main .team .team_partner .partner02 .ex02, .top .main .team .team_partner .partner03 .ex02 {
  width: 50%;
}
.top .main .team .team_partner .partner03 {
  padding-bottom: 10%;
}

.footer {
  background-color: #208553;
  width: 100%;
}
.footer .chef_deco {
  display: flex;
  justify-content: center;
}
.footer .chef_deco img {
  display: flex;
  width: 50%;
}
.footer .contact {
  display: flex;
  justify-content: center;
  margin: 7%;
}
.footer .contact li {
  padding: 0 3%;
}
.footer p {
  font-size: 8px;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  text-align: center;
}

@media (min-width: 769px) {
  body {
    font-size: 18px;
    max-width: none;
  }
  body .top {
    margin: 0 auto;
    padding: 0 6%;
  }
  body .top .nav {
    margin: none;
  }
  body .top .nav .nav_group .nav_left .logo {
    display: flex;
    width: 80%;
  }
  body .top .nav .nav_group .nav_right {
    margin-top: -10%;
  }
  body .top .nav .nav_group .nav_right .navbar .navbar_type {
    margin: 0 5px;
  }
  body .top .nav .nav_group .nav_right .navbar .navbar_type a {
    font-size: 22px;
  }
  body .top .nav .nav_group .nav_right .navbar .navbar_type .deco {
    padding-top: 10px;
  }
  body .top .nav .nav_group .nav_right .navbar .navbar_type01 {
    padding: 0 2%;
  }
  body .top .nav .nav_group .nav_right .navbar .navbar_type01:before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  body .top .nav .nav_group .nav_right .navbar .navbar_type01 #search {
    width: 120px;
  }
  body .top .nav .nav_group .nav_right .navbar .navbar_type02 {
    display: flex;
  }
  body .top .nav .nav_group .nav_right .navbar .navbar_type02 .cart {
    width: 60%;
    padding-top: 5px;
  }
  body .top .main {
    padding: 0 6%;
  }
  body .top .main .banner img {
    display: flex;
    width: 100%;
  }
  body .top .main .swiper .swiper-slide img {
    width: 100%;
  }
  body .top .main .brand h1 {
    font-size: 28px;
  }
  body .top .main .brand .deco_noodle {
    margin-top: -55px;
  }
  body .top .main .team h1 {
    font-size: 28px;
  }
  body .top .main .team .deco_noodle {
    margin-top: -55px;
  }
}
body .top {
  margin: 0 auto;
}
body .top #knpasta {
  background-color: #208553;
  padding: 0px 5px;
  border-radius: 5px;
  display: inline-block;
}
body .top .main .slogan {
  padding-top: 10%;
}
body .top .main .knpasta {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body .top .main .knpasta .card .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .top .main .knpasta .card .container .wrap {
  margin: 2%;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group {
  height: 370px;
  width: 252px;
  border: 3px solid #208553;
  border-radius: 30px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_top {
  display: flex;
  justify-content: center;
  height: 230px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_top .top_group {
  margin-top: 35px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_top .top_group .card_pro {
  width: 50%;
  margin-top: -15px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_top .top_group .card_name {
  text-align: center;
  background-color: #208553;
  border-radius: 10px;
  margin-top: 15%;
  font-size: 22px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_bottom {
  text-align: center;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_bottom .bottom_bg {
  display: block;
  width: 242px;
  height: 134px;
  background: #208553;
  border-radius: 0 0 25px 25px;
  margin-left: 5px;
  margin-top: 2px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_bottom .bottom_bg h3 {
  font-size: 22px;
  margin-top: -2px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_bottom .bottom_bg p {
  font-size: 16px;
  padding-top: 15px;
}
body .top .main .gocook {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}
body .top .main .gocook a {
  background: #F6D164;
  color: #151515;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1% 4%;
  border-radius: 10px;
  font-size: 16px;
}
@media (min-width: 769px) {
  body {
    font-size: 18px;
    max-width: none;
  }
  body .top .main {
    padding: 0 6%;
  }
}
body {
  padding: 0;
  margin: 0;
}

.menu_icon_box {
  z-index: 3;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  margin: 30px;
  position: absolute;
  border-radius: 4px;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 35px;
  height: 2px;
  margin: 10px 8px;
  background-color: #fff;
  border-radius: 50px;
  transition: 0.2s;
}

.active .line1 {
  transform: translate(0px, 15px) rotate(45deg);
}

.active .line2 {
  transform: translate(0px, 15px) rotate(45deg);
  opacity: 0;
}

.active .line3 {
  transform: translate(0px, -15px) rotate(-45deg);
}

.bannertop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannertop .cook_banner {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30%;
  position: relative;
}
.bannertop .cook_text {
  position: absolute;
  z-index: 2;
  text-align: center;
  padding-top: 30%;
}
.bannertop .cook_text h1 {
  display: inline;
  color: #fff;
  font-size: 42px;
}
.bannertop .cook_text p {
  font-size: 12px;
}

.box {
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
  background-color: #208553;
  position: relative;
  text-align: left;
  z-index: 2;
  opacity: 0;
  left: -500px;
  pointer-events: none;
  transition: 0.3s;
}
.box .boxnav {
  padding-top: 100px;
}
.box .boxnav .box_navbar {
  margin: 0 30px;
}
.box .boxnav .box_navbar .type {
  list-style: none;
  margin-bottom: 30px;
}
.box .boxnav .box_navbar .type a {
  color: #F6D164;
  font-size: 22px;
  padding: 10px 30px;
  display: block;
}
.box .boxnav .box_navbar .type .type_topic li a {
  font-size: 12px;
  color: #fff;
}
.box .boxnav .box_navbar .type .type_topic li a:hover {
  background-color: rgba(198, 198, 198, 0.4352941176);
  border-radius: 8px;
}

.box.active {
  opacity: 1;
  left: 0;
  pointer-events: fill;
  position: fixed;
  top: 0;
  z-index: -1;
}

.section02 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10%;
  margin-top: -85%;
  margin-bottom: 90%;
}
.section02 .text {
  color: #fff;
}

.section03 {
  padding: 10%;
}
.section03 .pre h1 {
  color: #F6D164;
  font-size: 22px;
}
.section03 .pre .pre_group {
  margin-bottom: 15%;
}
.section03 .pre .pre_group h3 {
  color: #fff;
}
.section03 .pre .pre_group p {
  font-size: 12px;
  color: #fff;
}
.section03 .pre .pre_group p a {
  color: #208553;
}
.section03 .pre .pre_group .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section03 .pre .pre_group .container .wrap {
  padding: 0 4%;
  justify-content: space-between;
  text-align: center;
  padding-top: 5%;
}
.section03 .pre .pre_group .container .wrap .pasta_bg {
  width: 70px;
  height: 70px;
  border-radius: 10%;
  background-color: #fff;
}
.section03 .pre .pre_group .container .wrap .pasta_bg .bg1 {
  padding: 22% 8%;
  width: 85%;
}
.section03 .pre .pre_group .container .wrap .pasta_bg .bg2 {
  padding: 12% 8%;
  width: 85%;
}
.section03 .pre .pre_group .container .wrap .pasta_bg .bg3 {
  padding: 12% 8%;
  width: 85%;
}
.section03 .pre .pre_group .container .wrap .pasta_bg .bg4 {
  padding: 14% 12%;
  width: 85%;
}
.section03 .pre .pre_group .container .wrap .pasta_bg .bg5 {
  padding: 27% 8%;
  width: 85%;
}
.section03 .pre .pre_group .container .wrap .pasta_bg .bg6 {
  padding: 0 8%;
  width: 85%;
}
.section03 .pre .pre_group .container .wrap .pasta_bg .bg7 {
  padding: 24% 10%;
  width: 80%;
}
.section03 .pre .pre_group .container .wrap .pasta_bg .bg8 {
  padding: 8% 18%;
  width: 65%;
}
.section03 .pre .pre_group .container .wrap .pasta_bg .bg9 {
  padding: 9% 10%;
  width: 80%;
}
.section03 .pre .pre_group .container .wrap p {
  font-size: 12px;
  color: #fff;
}
.section03 .pre .choose {
  margin-bottom: 15%;
}
.section03 .pre .choose h3 {
  color: #fff;
}
.section03 .pre .choose p {
  font-size: 12px;
  color: #fff;
}
.section03 .pre .choose .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section03 .pre .choose .container .wrap {
  padding: 0 4%;
  justify-content: space-between;
  text-align: center;
  padding-top: 5%;
}
.section03 .pre .choose .container .wrap .sauce_bg {
  width: 70px;
  height: 70px;
  border-radius: 10%;
  background-color: #fff;
}
.section03 .pre .choose .container .wrap .sauce_bg img {
  padding: 22% 8%;
  width: 85%;
}
.section03 .pre .ingredients {
  margin-bottom: 15%;
}
.section03 .pre .ingredients h3 {
  color: #fff;
}
.section03 .pre .ingredients p {
  font-size: 12px;
  color: #fff;
}
.section03 .pre .ingredients .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section03 .pre .ingredients .container .wrap {
  padding: 0 4%;
  justify-content: space-between;
  text-align: center;
  padding-top: 5%;
}
.section03 .pre .ingredients .container .wrap .ing_bg {
  width: 70px;
  height: 70px;
  border-radius: 10%;
  background-color: #fff;
}
.section03 .pre .ingredients .container .wrap img {
  width: 75%;
  padding: 16% 13%;
}
.section03 .pre .ingredients .container .wrap .ing01 {
  width: 80%;
  padding: 10% 15%;
}
.section03 .pre .ingredients .container .wrap .ing02 {
  width: 75%;
  padding: 5% 12%;
}
.section03 .pre .ingredients .container .wrap .ing03 {
  width: 75%;
  padding: 28% 12%;
}
.section03 .pre .ingredients .container .wrap p {
  color: #fff;
  font-size: 12px;
}

.backhome {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}
.backhome a {
  background: #F6D164;
  color: #151515;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1% 4%;
  border-radius: 10px;
  font-size: 16px;
}

@media (min-width: 769px) {
  body .section01 {
    width: 100%;
    height: 100vh;
  }
  body .section01 .menu_icon_box {
    display: none;
  }
  body .section01 .bannertop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .section01 .bannertop .cook_banner {
    display: flex;
    align-items: center;
    width: 40%;
    margin-top: 5%;
  }
  body .section01 .bannertop .cook_text {
    padding-top: 5%;
  }
  body .section01 .bannertop .cook_text h1 {
    font-size: 56px;
  }
  body .section01 .bannertop .cook_text p {
    font-size: 16px;
  }
  body .section02 {
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 28px;
  }
  body .section03 .pre h1 {
    font-size: 28px;
  }
  body .section03 .pre .pre_group h3,
  body .section03 .pre .choose h3,
  body .section03 .pre .ingredients h3 {
    font-size: 22px;
  }
  body .section03 .pre .pre_group p,
  body .section03 .pre .choose p,
  body .section03 .pre .ingredients p {
    font-size: 16px;
  }
  body .section03 .pre .pre_group .container .wrap .pasta_bg,
  body .section03 .pre .pre_group .container .wrap .sauce_bg,
  body .section03 .pre .pre_group .container .wrap .ing_bg,
  body .section03 .pre .choose .container .wrap .pasta_bg,
  body .section03 .pre .choose .container .wrap .sauce_bg,
  body .section03 .pre .choose .container .wrap .ing_bg,
  body .section03 .pre .ingredients .container .wrap .pasta_bg,
  body .section03 .pre .ingredients .container .wrap .sauce_bg,
  body .section03 .pre .ingredients .container .wrap .ing_bg {
    width: 120px;
    height: 120px;
  }
  body .section03 .pre .pre_group .container .wrap p,
  body .section03 .pre .choose .container .wrap p,
  body .section03 .pre .ingredients .container .wrap p {
    font-size: 16px;
  }
}
body .top {
  margin: 0 auto;
}
body .top .main .item .item_left .left_group {
  padding: 10% 12%;
}
body .top .main .item .item_left .left_group .left_top img {
  width: 100%;
}
body .top .main .item .item_left .left_group .left_bottom .container .wrap {
  text-align: center;
}
body .top .main .item .item_left .left_group .left_bottom .container .wrap img {
  width: 27%;
  padding: 5% 2%;
}
body .top .main .item .item_right {
  margin-top: -5%;
  margin-bottom: 12%;
}
body .top .main .item .item_right .right_group {
  padding: 0 12%;
  text-align: left;
  color: #fff;
}
body .top .main .item .item_right .right_group h1 {
  font-size: 22px;
}
body .top .main .item .item_right .right_group h3 {
  font-size: 16px;
}
body .top .main .item .item_right .right_group .bullet {
  font-size: 12px;
}
body .top .main .item .item_right .right_group .bullet .point {
  padding: 3% 0;
}
body .top .main .item .item_right .right_group .add {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
body .top .main .item .item_right .right_group .add form {
  text-align: center;
  display: flex;
}
body .top .main .item .item_right .right_group .add form #minus {
  border-radius: 50%;
  background-color: #F6D164;
  border: 8px solid transparent;
  color: #fff;
  padding: 0 5px;
}
body .top .main .item .item_right .right_group .add form #quantity {
  background-color: #151515;
  border: none;
  width: 20%;
  color: #fff;
  text-align: center;
}
body .top .main .item .item_right .right_group .add form #plus {
  border-radius: 50%;
  background-color: #F6D164;
  border: 8px solid transparent;
  color: #fff;
  padding: 0 4px;
}
body .top .main .item .item_right .right_group .add .tocart {
  display: flex;
  font-size: 14px;
  background-color: #F6D164;
  border-radius: 5px;
  padding: 2% 2%;
}
body .top .main .intro {
  text-align: center;
  color: #fff;
}
body .top .main .intro h1 {
  font-size: 12px;
}
body .top .main .intro .pic_group .banner img {
  width: 100%;
}
body .top .main .intro .pic_group .intro01 {
  padding-top: 10%;
  margin: 0 10%;
}
body .top .main .intro .pic_group .intro01 img {
  width: 90%;
}
body .top .main .intro .pic_group .intro01 .des {
  padding: 4%;
  font-size: 12px;
}
body .top .main .intro .pic_group .intro02 {
  margin: 0 10%;
}
body .top .main .intro .pic_group .intro02 .des {
  padding: 4%;
  font-size: 12px;
}
body .top .main .intro .pic_group .intro02 img {
  width: 90%;
}
body .top .main .intro .pic_group .smpic {
  margin: 0 10%;
}
body .top .main .intro .pic_group .smpic .container .wrap {
  padding-top: 10%;
  margin: 0 1.5%;
}
body .top .main .intro .pic_group .smpic .container .wrap img {
  width: 90%;
}
body .top .main .rmd {
  text-align: center;
  color: #fff;
  margin: 10% 0;
}
body .top .main .rmd h1 {
  font-size: 12px;
  display: inline;
}
body .top .main .rmd .container .wrap {
  padding-top: 10%;
  margin: 0 1.5%;
}
body .top .main .goback {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}
body .top .main .goback a {
  background: #F6D164;
  color: #151515;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1% 4%;
  border-radius: 10px;
  font-size: 16px;
}

@media (min-width: 769px) {
  body {
    font-size: 18px;
    max-width: none;
  }
  body .top .main {
    padding: 0 6%;
  }
  body .top .main .item {
    display: flex;
    padding-top: 6%;
  }
  body .top .main .item .item_left .left_group {
    padding: 0;
  }
  body .top .main .item .item_right {
    margin: 0;
  }
  body .top .main .item .item_right .right_group h1 {
    font-size: 28px;
    display: inline;
  }
  body .top .main .item .item_right .right_group h3 {
    font-size: 22px;
  }
  body .top .main .item .item_right .right_group .bullet {
    font-size: 16px;
  }
  body .top .main .intro {
    padding: 10% 0;
  }
  body .top .main .intro h1 {
    font-size: 28px;
    display: inline;
  }
  body .top .main .intro .pic_group .intro01,
  body .top .main .intro .pic_group .intro02 {
    display: flex;
    margin: 0;
    padding-top: 10%;
  }
  body .top .main .intro .pic_group .intro01 .des_pic img,
  body .top .main .intro .pic_group .intro02 .des_pic img {
    width: 100%;
  }
  body .top .main .intro .pic_group .intro01 .des,
  body .top .main .intro .pic_group .intro02 .des {
    font-size: 16px;
  }
  body .top .main .intro .pic_group .smpic {
    margin: 0;
  }
  body .top .main .intro .pic_group .smpic .container {
    display: flex;
    justify-content: space-between;
  }
  body .top .main .intro .pic_group .smpic .container .wrap img {
    width: 100%;
  }
  body .top .main .rmd {
    margin: 0;
  }
  body .top .main .rmd h1 {
    font-size: 28px;
    display: inline;
  }
  body .top .main .rmd .container {
    display: flex;
    justify-content: space-between;
  }
  body .top .main .rmd .container .wrap img {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */