@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Hurricane&family=Shippori+Mincho+B1:wght@400;500;600&display=swap");
body {
  background-color: #151515;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  font-family: "Hurricane", "Shippori Mincho B1", "serif";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.top {
  margin: 0 auto;
}
.top .nav .nav_left {
  display: flex;
  margin: 5%;
}
.top .nav .nav_left .logo {
  display: flex;
  width: 25%;
}
.top .nav .nav_right {
  display: flex;
  font-size: 10px;
  margin: -2% 0;
  padding: 10px 0;
}
.top .nav .nav_right .navbar {
  display: flex;
  margin-left: auto;
}
.top .nav .nav_right .navbar .navbar_type {
  display: inline-block;
  padding-left: 6px;
}
.top .nav .nav_right .navbar .navbar_type a {
  display: inline;
}
.top .nav .nav_right .navbar .navbar_type .deco {
  display: inline;
  border-right: 3px solid #fff;
  padding-left: 10px;
}
.top .nav .nav_right .navbar .navbar_type01 {
  display: flex;
  padding-left: 6px;
  margin-top: -10px;
}
.top .nav .nav_right .navbar .navbar_type01 .search {
  display: flex;
  padding-top: 11px;
  width: 80%;
}
.top .nav .nav_right .navbar .navbar_type01 .text {
  display: flex;
  font-size: 8px;
  color: rgba(255, 255, 255, 0.4117647059);
  margin: 10px 2px;
}
.top .nav .nav_right .navbar .navbar_type01 .cart {
  display: flex;
  margin-top: 7px;
  width: 50%;
}
.top .main .banner {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}
.top .main .banner img {
  display: flex;
  width: 85%;
}
.top .main .slogan {
  padding-top: 10%;
  display: flex;
  justify-content: center;
}
.top .main .slogan img {
  display: flex;
  width: 80%;
}
.top .main .swiper {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.top .main .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .main .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top .main .brand {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.top .main .brand h1 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 12px;
}
.top .main .brand .deco_noodle {
  display: flex;
  justify-content: center;
  padding: 0 122px;
  margin-top: -18px;
}
.top .main .team {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.top .main .team h1 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 12px;
}
.top .main .team .deco_noodle {
  display: flex;
  justify-content: center;
  padding: 0 122px;
  margin-top: -18px;
}
.footer {
  background-color: #208553;
  width: 100%;
}
.footer .chef_deco {
  display: flex;
  justify-content: center;
}
.footer .chef_deco img {
  display: flex;
  width: 50%;
}
.footer .contact {
  display: flex;
  justify-content: center;
  margin: 7%;
}
.footer .contact li {
  padding: 0 3%;
}
.footer p {
  font-size: 8px;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}

@media (min-width: 769px) {
  body {
    font-size: 18px;
    max-width: none;
  }
  body .top {
    margin: 0 auto;
    padding: 0 6%;
  }
  body .top .nav {
    margin: none;
  }
  body .top .nav .nav_left .logo {
    display: flex;
    width: 100%;
  }
  body .top .nav .nav_right .navbar {
    margin-top: -10%;
  }
  body .top .nav .nav_right .navbar .navbar_type {
    margin: 0 5px;
  }
  body .top .nav .nav_right .navbar .navbar_type a {
    font-size: 22px;
  }
  body .top .nav .nav_right .navbar .navbar_type .deco {
    padding-top: 10px;
  }
  body .top .nav .nav_right .navbar .navbar_type01 {
    margin-top: -2px;
  }
  body .top .nav .nav_right .navbar .navbar_type01 .deco {
    margin: none;
  }
  body .top .nav .nav_right .navbar .navbar_type01 .search {
    padding-top: none;
  }
  body .top .main {
    padding: 0 6%;
  }
  body .top .main .banner img {
    display: flex;
    width: 100%;
  }
  body .top .main .brand h1 {
    font-size: 28px;
  }
  body .top .main .brand .deco_noodle {
    margin-top: -55px;
  }
  body .top .main .team h1 {
    font-size: 28px;
  }
  body .top .main .team .deco_noodle {
    margin-top: -55px;
  }
}
body .top {
  margin: 0 auto;
}
body .top #knpasta {
  background-color: #208553;
  padding: 0px 5px;
  border-radius: 5px;
  display: inline-block;
}
body .top .main .slogan {
  padding-top: 10%;
}
body .top .main .knpasta {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body .top .main .knpasta .card .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .top .main .knpasta .card .container .wrap {
  margin: 2%;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group {
  height: 370px;
  width: 252px;
  border: 3px solid #208553;
  border-radius: 30px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_top {
  display: flex;
  justify-content: center;
  height: 230px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_top .top_group {
  margin-top: 35px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_top .top_group .card_pro {
  width: 50%;
  margin-top: -15px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_top .top_group .card_name {
  text-align: center;
  background-color: #208553;
  border-radius: 10px;
  margin-top: 15%;
  font-size: 22px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_bottom {
  text-align: center;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_bottom .bottom_bg {
  display: block;
  width: 242px;
  height: 134px;
  background: #208553;
  border-radius: 0 0 25px 25px;
  margin-left: 5px;
  margin-top: 2px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_bottom .bottom_bg h3 {
  font-size: 22px;
  margin-top: -2px;
}
body .top .main .knpasta .card .container .wrap .card_type .card_group .card_bottom .bottom_bg p {
  font-size: 16px;
  padding-top: 15px;
}
body .top .main .gocook {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}
body .top .main .gocook a {
  background: #F6D164;
  color: #151515;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1% 4%;
  border-radius: 10px;
  font-size: 22px;
}
@media (min-width: 769px) {
  body {
    font-size: 18px;
    max-width: none;
  }
  body .top .main {
    padding: 0 6%;
  }
}
body .top {
  margin: 0 auto;
}
body .top .main .item .item_left .left_group {
  padding: 10% 12%;
}
body .top .main .item .item_left .left_group .left_top img {
  width: 100%;
}
body .top .main .item .item_left .left_group .left_bottom .container .wrap {
  text-align: center;
}
body .top .main .item .item_left .left_group .left_bottom .container .wrap img {
  width: 27%;
  padding: 5% 2%;
}
body .top .main .item .item_right {
  margin-top: -5%;
  margin-bottom: 12%;
}
body .top .main .item .item_right .right_group {
  padding: 0 12%;
  text-align: left;
  color: #fff;
}
body .top .main .item .item_right .right_group h1 {
  font-size: 22px;
}
body .top .main .item .item_right .right_group h3 {
  font-size: 16px;
}
body .top .main .item .item_right .right_group .bullet {
  font-size: 12px;
}
body .top .main .item .item_right .right_group .bullet .point {
  padding: 3% 0;
}
body .top .main .intro {
  text-align: center;
  color: #fff;
}
body .top .main .intro h1 {
  font-size: 12px;
}
body .top .main .intro .pic_group .banner img {
  width: 100%;
}
body .top .main .intro .pic_group .intro01 {
  padding-top: 10%;
  margin: 0 10%;
}
body .top .main .intro .pic_group .intro01 img {
  width: 90%;
}
body .top .main .intro .pic_group .intro01 .des {
  padding: 4%;
  font-size: 12px;
}
body .top .main .intro .pic_group .intro02 {
  margin: 0 10%;
}
body .top .main .intro .pic_group .intro02 .des {
  padding: 4%;
  font-size: 12px;
}
body .top .main .intro .pic_group .intro02 img {
  width: 90%;
}
body .top .main .intro .pic_group .smpic {
  margin: 0 10%;
}
body .top .main .intro .pic_group .smpic .container .wrap {
  padding-top: 10%;
  margin: 0 1.5%;
}
body .top .main .intro .pic_group .smpic .container .wrap img {
  width: 90%;
}
body .top .main .rmd {
  text-align: center;
  color: #fff;
  margin: 10% 0;
}
body .top .main .rmd h1 {
  font-size: 12px;
  display: inline;
}
body .top .main .rmd .container .wrap {
  padding-top: 10%;
  margin: 0 1.5%;
}
body .top .main .goback {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}
body .top .main .goback a {
  background: #F6D164;
  color: #151515;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1% 4%;
  border-radius: 10px;
  font-size: 16px;
}

@media (min-width: 769px) {
  body {
    font-size: 18px;
    max-width: none;
  }
  body .top .main {
    padding: 0 6%;
  }
  body .top .main .item {
    display: flex;
    padding-top: 6%;
  }
  body .top .main .item .item_left .left_group {
    padding: 0;
  }
  body .top .main .item .item_right {
    margin: 0;
  }
  body .top .main .item .item_right .right_group h1 {
    font-size: 28px;
    display: inline;
  }
  body .top .main .item .item_right .right_group h3 {
    font-size: 22px;
  }
  body .top .main .item .item_right .right_group .bullet {
    font-size: 16px;
  }
  body .top .main .intro {
    padding: 10% 0;
  }
  body .top .main .intro h1 {
    font-size: 28px;
    display: inline;
  }
  body .top .main .intro .pic_group .intro01, body .top .main .intro .pic_group .intro02 {
    display: flex;
    margin: 0;
    padding-top: 10%;
  }
  body .top .main .intro .pic_group .intro01 .des_pic img, body .top .main .intro .pic_group .intro02 .des_pic img {
    width: 100%;
  }
  body .top .main .intro .pic_group .intro01 .des, body .top .main .intro .pic_group .intro02 .des {
    font-size: 16px;
  }
  body .top .main .intro .pic_group .smpic {
    margin: 0;
  }
  body .top .main .intro .pic_group .smpic .container {
    display: flex;
    justify-content: space-between;
  }
  body .top .main .intro .pic_group .smpic .container .wrap img {
    width: 100%;
  }
  body .top .main .rmd {
    margin: 0;
  }
  body .top .main .rmd h1 {
    font-size: 28px;
    display: inline;
  }
  body .top .main .rmd .container {
    display: flex;
    justify-content: space-between;
  }
  body .top .main .rmd .container .wrap img {
    width: 100%;
  }
}
body #app {
  padding: 0 15%;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
body #app h1 {
  font-size: 22px;
  margin: 10% 0;
}
body #app .item_group .mid .bottom .item_price h1 {
  font-size: 22px;
}
body #app .recipient .input_group {
  display: flex;
  margin: 6% 0;
}
body #app .recipient .input_group #name, body #app .recipient .input_group #add {
  width: 100%;
  padding: 2%;
}
body #app .recipient .input_group #county, body #app .recipient .input_group #town {
  width: 85%;
  padding: 2%;
}
body #app span {
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */